body{
    background-image: url(newNM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 560px 750px cover; 
    font-family: Arial, Helvetica, sans-serif;
}
.signup{
    background: rgba(44, 62, 80, 0.7);
    float: none;
    padding: 40px;
    width: 320px;
    margin: 400px auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 180px;
}
form{
    text-align: center;
}
p{
    color: yellow;
}
input{
    width: 240px;
    text-align: center;
    background:transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]{
    border: none;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 0;
    width: 190px;
    background-color: white;
    line-height: 25px;
    cursor: pointer;
}
input[type=button]:hover{
    color: #fff;
    background-color: black;
}
::placeholder{
    color: aliceblue;
    opacity: 0.8;
}